--extra-index-url https://download.pytorch.org/whl/cu117
fastapi == 0.103.2
gunicorn == 21.2.0
modal == 0.52.3439
numpy == 1.25.2
python-multipart == 0.0.6
uvicorn == 0.23.2
pandas == 2.1.0
python-dotenv == 1.0.0
accelerate == 0.23.0
bitsandbytes == 0.40.2
peft == 0.5.0
torch == 2.0.1
scipy == 1.11.2
transformers == 4.30.0
google-generativeai == 0.2.1
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib